.list-group-item {
    padding: 10px 20px;
    transition: color 0.3s ease-in-out;
  }
  
  .active-link {
    position: relative;
    color: Black !important; 
    background-color: transparent; 
  }
  
  .active-link::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 4px;
    background-color: black;
  }